.App {
  text-align: center;
  height: 90vh;
  gap: 10px;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: aliceblue;
}

.card {
  background-color: bisque;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 3px 2px rgb(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.card div {
  display: flex;
  justify-content: space-between;
}

.card h1 {
  color: darkorange;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 4px 5px 4px rgb(0, 0, 0, 0.3);
  cursor: pointer;
}