.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(135deg, lightblue, #d188ff);
}

.todo-item {
  background-color: white;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
}

.todo-item div {
  display: flex;
  height: 2rem;
  justify-content: space-between;
}