.app-container {
  height: auto;
  min-height: 100vh;
}

.summary-card {
  flex: 1;
  min-width: '12rem';
  max-height: '6rem';
  border-radius: 20px;
}

.search-filter {
  background-color: white;
  border-radius: 10px;
  border: 2px solid rgb(198, 198, 197);
}

.request-list {
  background-color: white;
  border-radius: 10px;
  border: 2px solid rgb(198, 198, 197);
  padding-inline: 2rem;
}

.request-list-group {
  padding-block: 1rem;
  overflow-y: auto;
  max-height: 400px;
}

.request-list-item {
  border: 1px solid rgb(198, 198, 197);
  border-radius: 10px;
  padding-inline: 1rem;
  padding-top: 0.75rem;
  background-color: rgb(250, 250, 250);
  margin-bottom: 0.5rem;
}

.request-list-item .tab {
  font-size: 0.9rem;
  height: 30px;
  width: 150px;
  font-weight: 500;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-error-message {
  color: red;
  font-size: 0.9rem;
}

.request-details-container {
  background-color: white;
  border-radius: 10px;
  border: 2px solid rgb(198, 198, 197);
  padding-inline: 2rem;
  padding-block: 1rem;
}